.section {
    &-password {
        @for $i from 1 through 6 {
            h#{$i},
            .h#{$i} {
                color: $white;
            }
        }

        p {
            color: $white;
        }

        .social-sharing {
            @include svg-fill($white);

            a {
                display: inline-block;
                padding: rem-calc(0 5);

                &:first-child {
                    padding-left: 0;
                }
                
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

.toggle-password {
    position: fixed;
    bottom: rem-calc(20);
    right: rem-calc(30);
    opacity: 0.3;
    color: $white;
    border-color: rgba($white, 0);
    
    &:hover {
        color: $white;
        opacity: 1;
        border-color: rgba($white, 1);
    }
}